<!DOCTYPE html>
<html>
<head>
        <title>Response Page from /hello/Isabella</title>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                Session IDs : <strong>{{session_list}}</strong> on <strong>{{environment}}</strong> User Choice: {{choice}}!
                <br>
                
                {% for ssid in session_list %}
                    SSID: {{ssid}} <br>
                    {% for img in img_names %}
                        
                        <img src ="{{ url_for('static', filename = img ) }}" alt="Picture not found" height=15% width=15%>
                        img: {{img}} <br>
                    {% endfor %}
                {% endfor %}
            </div>


            <div class="title">

            

                
                
            </div>
        </div>
    </body>
</html>

